<div id="user-profile">

  <dl>
    <dt>Username</dt>
    <dd>tuamamma</dd>
  </dl>

  <a href="/user/password">Change Password</a>
</div>

<div id="user-login">

  <p class="error"></p>

  <form method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />

    <input type="submit" value="Login" class="button" />

  </form>

</div>

<div id="user-form">

  <p class="error"></p>

  <form method="POST">

    <label for="username">Username (use desired game nickname):</label>
    <input type="text" name="username" id="username" />

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />

    <label for="password-confirm">Confirm Password:</label>
    <input type="password" name="password-confirm" id="password-confirm" />

    <label for="email">Email Address:</label>
    <input type="text" name="email" id="email" />

    <input type="submit" value"Register" class="button" />

  </form>

</div>

<div id="registration-thanks">

  <p>
    Thanks for registering. An email has been sent to the address you
    registered with. Please click on the link to validate your email.
  </p>

</div>


<div id="success">

  <p>Password change successful!</p>

</div>

<div id="signup-form">



</div>

<div id="authkey">

  <h4 class="warning">
    You have already generated an authkey. If you generate a new one, the
    old one will be deleted and will no longer work. Only generate a new auth
    key if you really don't want the old one anymore!</h4>

  <h3>Generate and Download your Authkey</h3>

  <p>
    This will generate a new authkey that you can use to login to SDoS servers.
    You need this in order to be able to play in the tournament. Note: this
    is not the same as an "Auth" authkey that is used to get master on servers.
    It is only used to log in to SDoS, and it's tied to your SDoS account.
  </p>

  <p>
    When you generate the key, it will download a file that contains your
    authkey called "once.cfg". Please copy this file into your Sauerbraten
    directory, and your authkey will be automatically loaded.
  </p>

  <h4>Where to put the file:</h4>
  <ul>
    <li>Windows: My Documents>My Games>sauerbraten</li>
    <li>Linux: ~/.sauerbraten (but you already knew that didn't you, you linux user you)</li>
    <li>Mac: home/Library/Application Support/sauerbraten</li>
  </ul>

  <p>You should now automatically log on when you join an SDoS server.</p>

  <form method="post">
    <input type="submit" class="button" value="Generate Auth Key">
  </form>

</div>
