@import "_variables";
@import "foundation/scss/foundation";
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);

img.logo {
	height: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h3.logo {
	margin-top: .2em;
	text-align: center;
}

ul, ol {
	list-style-position: outside;
	margin: 1em;
	padding-left: 1em;
}

ul {
	list-style-type: square;
}

input:last-child {
	margin-bottom: 0;
}

button, .button {
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
}

article:not(:last-child) {
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.row {
	border-bottom: 1px solid #ddd;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

footer.row {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

/*
#side-menu h5, #user-menu h5, #admin-menu h5 {
	margin: 0 .5em;
	font-weight: normal;
	text-align: center;
	opacity: .75;
	text-transform: uppercase;
}
*/

.side-nav {
	padding: 0;
	margin: 1.5em 0;
	font-size: 1.25em;
	font-weight: bold;
	border: 1px solid rgba(0,0,0,.2);

	li {
		margin: 0;
	}

	li a {
		background: rgba(0,0,0,0.05);
		padding: .5em 1em;
	}

	li a:hover {
		background: rgba(0,0,0,0.1);
	}
}

#side-menu .side-nav {
	margin-top: .5em;
}

div.content {
	h1 {
		font-size: 2.3125em;
	}
	h2 {
		font-size: 1.6875em;
	}
	h3 {
		font-size: 1.4375em;
	}
}

.content a {
	text-decoration: underline;
}

footer p, footer ul {
	margin-bottom: 0;
}