@import "_variables";
@import "foundation/scss/foundation";
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);

img.logo {
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3.logo {
  margin-top: .2em;
  text-align: center;
}

ul, ol {
  list-style-position: inside;
}

ul {
  list-style-type: square;
}

div.content {
  h1 {
    font-size: 2.3125em;
  }
  h2 {
    font-size: 1.6875em;
  }
  h3 {
    font-size: 1.4375em;
  }
}
